body{
font: 20px Arial, sans-serif;
}

.navbar{
    background-color: #5fb404;
}

.quem-somos{
    background-color: #5DADE2;
    color: white;
}

.margin{
    padding-bottom: 50px;
}

.parceiros{
    background-color: #DC7633;
    color: white
}

.serviços{
    background-color: #D0D3D4 ;
    color: black
}
.bg-footer{
    background-color: #5fb404;
    color: white
}

